.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f5f5f5;
}

.auth-box {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  padding: 40px 30px;
  border-radius: 20px;
  width: 450px;
  color: white;
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
  text-align: center;
}

.auth-box h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  color: white;
}

.auth-box input {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.auth-box button {
  width: 100%;
  padding: 12px;
  background: #0070f3;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.auth-box button:hover {
  background: #005ac1;
}

.auth-box .link {
  margin-top: 10px;
  text-align: center;
}

.auth-box .link a {
  color: white;
  text-decoration: none;
}
/* akbshdjbvhjd */
.login-bg {
  background: url('../../../public/images/natural.avif') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  padding: 40px 30px;
  border-radius: 20px;
  width: 450px;
  color: white;
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
  text-align: center;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tabs span {
  cursor: pointer;
  font-weight: 500;
  border-bottom: 2px solid transparent;
  padding-bottom: 4px;
  transition: all 0.3s;
}

.tabs span.active {
  border-color: #00bfff;
  color: #00bfff;
}

.login-container input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  outline: none;
}

.forgot {
  text-align: right;
  margin: 10px 0;
}

.forgot a {
  font-size: 12px;
  color: #ffffffff;
  text-decoration: none;
}

.login-btn {
  width: 100%;
  background: #00bfff;
  padding: 12px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}
